h1,span{
    font-size: 50px;
    color:rgb(128, 115, 202);
    font-family: Arial, Helvetica, sans-serif;
   
}
h1{
    position: relative;
    top:25px;
}
div{
    border-radius: 25px;
    background-color:rgba(29,22, 22,0.4);
}
body{
    background-image: url("messi.gif");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
     background-color: pink;
}
input{
    
    padding: 20px;
    background-color: rgba(27, 4, 160, 0.4);
    color: rgb(160, 47, 47);
    border-radius: 15px;
    font-size: 30px;
}